@import url('https://fonts.googleapis.com/css2?family=Inter');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #141414;
}

nav {
    display: flex;
    border-bottom: 1px solid rgb(39, 39, 39);
}

nav > .nav-section {
    padding: 2rem 5rem;
    display: flex;
    border-left: 1px solid rgb(39, 39, 39);
    align-items: center;
    justify-content: center;
}

.fa-brands {
    color: white;
    font-size: 1.5rem;
    margin: 0 2rem 0 2rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

#nav-link-section {
    width: 100%;
    word-spacing: 6rem;
}

#nav-social-section {
    width: 100%;
    justify-content: flex-end;
}