@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --lightblue: #00F0FF;
    --light2blue: #00C2FF;
    --lightdarkblue: #0066FF;
    --darkblue: #001AFF;

    --v1: #0306b6;
    --v2: #09a7f0;
    --v3: #9dfff7;
    --border: #f5feffee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 200% center;
    }
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #141414;
    /* padding-left: 20px;
    padding-right: 20px; */
}

nav {
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #141414;
    z-index: 9999;

    background: rgba(20, 20, 20, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    /* border-bottom: 1px solid rgb(39, 39, 39); */
}

nav>.nav-section {
    padding: 1.75rem 4rem;
    display: flex;
    /* border-left: 1px solid rgb(39, 39, 39); */
    align-items: center;
    justify-content: center;
}

.fa-brands,
.fa-solid {
    color: white;
    font-size: 1.5rem;
    margin: 0 2rem 0 2rem;
    transition: .2s ease;
}

.fa-linkedin:hover {
    color: #009ff5;
    transition: .2s ease;
}

.fa-github:hover {
    color: #8549ed;
    transition: .2s ease;
}

.nav-link,
#desc,
#title-gradient {
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.nav-link {
    position: relative;
    color: white;
    transition: .2s cubic-bezier(.90, .06, .15, .90);
    transform: top linear 0.5s;
}

.nav-link:hover {
    color: #64dbff;
    transition: .2s cubic-bezier(.90, .06, .15, .90);
    top: -1px;
}

#nav-link-section {
    width: 100%;
    word-spacing: 5rem;
    justify-content: flex-start;
    padding-left: 20vmin;
}

#nav-social-section {
    width: 100%;
    justify-content: flex-end;
    margin-right: 60px;
}

main {
    flex-grow: 1;
    color: white;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem 5rem 0 5rem;
}

.main-section {
    /* border: 1px solid rgb(53, 53, 53); */
    padding-top: 17.5vmin;
    padding-bottom: 17.5vmin;
}

.name-desc-section {
    padding-left: 2rem;
    padding-right: 2rem;
}


div>h1 {
    animation: background-pan 5s linear infinite;
    font-size: 400%;
    word-spacing: -.5rem;
    background: linear-gradient(90deg,
            var(--darkblue),
            var(--lightdarkblue),
            var(--light2blue),
            var(--lightblue),
            var(--light2blue),
            var(--lightdarkblue),
            var(--darkblue));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    white-space: nowrap;
}

#desc {
    letter-spacing: .03rem;
    line-height: 1.5rem;
    font-weight: 500;
    padding-right: 5rem;
    /* filter: drop-shadow(0 0 0.4rem white); */
}

.card-section {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 0.5vmin solid var(--border);
    border-radius: 10%;
    aspect-ratio: 1 / 1;
    position: relative;
    width: 70vmin;
}

.card:before {
    background: linear-gradient(130deg,
            transparent 0% 33%,
            var(--v1) 66%,
            var(--v2) 83.5%,
            var(--v3) 100%);
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    width: 100%;
    font-weight: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    transition: background-position 350ms ease, transform 250ms ease;
    border-radius: 10%;
}

.card:hover::before {
    background-position: 100% 100%;
    transform: scale(1.03, 1.03);
}

.card-content {
    background: radial-gradient(rgba(168, 230, 255, 0.5),
            transparent 8%);
    background-position: 0% 0%;
    background-size: 7vmin 7vmin;
    transition: background-position 350ms ease;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15%;
    padding: 8vmin;
}

.card:hover>.card-content {
    background-position: 10% 0%;
}

.card-title,
.card-subtitle {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin: 0;
    width: calc(100% - 10vmin);
}

.card-title {
    font-size: 6vmin;
}

.card-subtitle {
    font-size: 3vmin;
    margin-top: 2vmin;
}

.card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.4vmin;
    position: relative;
    transition: transform 350ms cubic-bezier(.90, .06, .15, .90);
    transform: translateY(40%);
    opacity: 0;
}

.card:hover>.card-content>.card-subtitle>.card-subtitle-word {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 350ms cubic-bezier(.90, .06, .15, .90);
}

.work-section,
.edu-section {
    margin: 6.5rem;
}

.card-work-section {
    border-radius: 2rem;
    background-color: #1b1b1b;
    width: auto;
    height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
    /* border: 1px solid red; */
}

.card-work-section-2 {
    border-radius: 2rem;
    background-color: #1b1b1b;
    width: auto;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 6rem;
    /* border: 1px solid red; */
}

.work-type {
    opacity: 50%;
    font-weight: 600;
    font-size: 1.1rem;
    display: inline-block;
    position: absolute;
    left: 90px;
    top: 60px;
}

.work-name {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 2rem;
    display: block;
    position: absolute;
    left: 90px;
    top: 105px;
    font-size: 45px;
}

.work-name-2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 2rem;
    display: block;
    position: absolute;
    left: 90px;
    top: 105px;
    font-size: 45px;
}

.work-name-2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 2rem;
    display: block;
    position: absolute;
    left: 90px;
    top: 105px;
    font-size: 30px;
}

.work-image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    height: 85%;
}

.work-image-2 {
    position: relative;
    display: inline-block;
    margin-left: 200px;
    width: auto;
    height: 70%;
    border-radius: 1rem;
}